In [1]:
import pathlib
import zipfile

import pandas as pd

import utils

In [3]:
essay_zip = pathlib.Path.cwd() / 'data' / 'asap-aes.zip'

with zipfile.ZipFile(essay_zip) as zf:
    train_valid_test = 7, 5, 11
    tsvs = utils.stream_extract(zf, *train_valid_test)
    train, valid, test = (pd.read_csv(tsv, delimiter='\t', encoding='latin-1') for tsv in tsvs)
    
    descr_zip = next(utils.stream_extract(zf, 1))
    
    
with zipfile.ZipFile(descr_zip) as zf:
    descr_xlsx = next(utils.stream_extract(zf, 8))
    descr = pd.read_excel(descr_xlsx)

    readmes = utils.stream_extract(zf, *range(8))
    prompts = [utils.get_prompt(readme) for readme in readmes]

# Descriptions

In [4]:
for i, prompt in enumerate(prompts):
    print(i)
    print(prompt)
    print('-' * 100)

0
More and more people use computers, but not everyone agrees that this benefits society. Those who support advances in technology believe that computers have a positive effect on people. They teach hand-eye coordination, give people the ability to learn about faraway places and people, and even allow people to talk online with other people. Others have different ideas. Some experts are concerned that people are spending too much time on their computers and less time exercising, enjoying nature, and interacting with family and friends.

Write a letter to your local newspaper in which you state your opinion on the effects computers have on people. Persuade the readers to agree with you.
----------------------------------------------------------------------------------------------------
1
Censorship in the Libraries
"All of us can think of a book that we hope none of our children or any other children have taken off the shelf. But if I have the right to remove that book from the shelf -- that work I abhor -- then you also have exactly the same right and so does everyone else. And then we have no books left on the shelf for any of us." --Katherine Paterson, Author
Write a persuasive essay to a newspaper reflecting your vies on censorship in libraries. Do you believe that certain materials, such as books, music, movies, magazines, etc., should be removed from the shelves if they are found offensive? Support your position with convincing arguments from your own experience, observations, and/or reading.
----------------------------------------------------------------------------------------------------
2
Write a response that explains how the features of the setting affect the cyclist. In your response, include examples from the essay that support your conclusion.
----------------------------------------------------------------------------------------------------
3
Read the last paragraph of the story.

"When they come back, Saeng vowed silently to herself, in the spring, when the snows melt and the geese return and this hibiscus is budding, then I will take that test again."

Write a response that explains why the author concludes the story with this paragraph. In your response, include details and examples from the story that support your ideas.
----------------------------------------------------------------------------------------------------
4
Describe the mood created by the author in the memoir. Support your answer with relevant and specific information from the memoir.
----------------------------------------------------------------------------------------------------
5
Based on the excerpt, describe the obstacles the builders of the Empire State Building faced in attempting to allow dirigibles to dock there. Support your answer with relevant and specific information from the excerpt.
----------------------------------------------------------------------------------------------------
6
Write about patience. Being patient means that you are understanding and tolerant. A patient person experience difficulties without complaining.
Do only one of the following: write a story about a time when you were patient OR write a story about a time when someone you know was patient OR write a story in your own way about patience.
----------------------------------------------------------------------------------------------------
7
We all understand the benefits of laughter. For example, someone once said, “Laughter is the shortest distance between two people.” Many other people believe that laughter is an important part of any relationship. Tell a true story in which laughter was one element or part.
----------------------------------------------------------------------------------------------------

In [5]:
descr.head()

,essay_set,type_of_essay,grade_level,training_set_size,valid_set_size,test_set_size,min_domain1_score,max_domain1_score,min_domain2_score,max_domain2_score,has_domain1rater1,has_domain1rater2,has_domain1rater3,has_domain1_score,has_domain2rater1,has_domain2rater2,has_domain2_score
0,1,persuasive / narrative / expository,8,1783,589,594,2,12,NaN,NaN,1,1,0,1,0,0,0
1,2,persuasive / narrative / expository,10,1800,600,600,1,6,1.0,4.0,1,1,0,1,1,1,1
2,3,source dependent responses,10,1726,568,564,0,3,NaN,NaN,1,1,0,1,0,0,0
3,4,source dependent responses,10,1772,586,590,0,3,NaN,NaN,1,1,0,1,0,0,0
4,5,source dependent responses,8,1805,601,600,0,4,NaN,NaN,1,1,0,1,0,0,0

# Train

In [6]:
train.head()

,essay_id,essay_set,essay,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
0,1,1,"Dear local newspaper, I think effects computer...",4,4,NaN,8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5,4,NaN,9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4,3,NaN,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",5,5,NaN,10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,"Dear @LOCATION1, I know having computers has a...",4,4,NaN,8,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12976 entries, 0 to 12975
Data columns (total 28 columns):
essay_id          12976 non-null int64
essay_set         12976 non-null int64
essay             12976 non-null object
rater1_domain1    12976 non-null int64
rater2_domain1    12976 non-null int64
rater3_domain1    128 non-null float64
domain1_score     12976 non-null int64
rater1_domain2    1800 non-null float64
rater2_domain2    1800 non-null float64
domain2_score     1800 non-null float64
rater1_trait1     2292 non-null float64
rater1_trait2     2292 non-null float64
rater1_trait3     2292 non-null float64
rater1_trait4     2292 non-null float64
rater1_trait5     723 non-null float64
rater1_trait6     723 non-null float64
rater2_trait1     2292 non-null float64
rater2_trait2     2292 non-null float64
rater2_trait3     2292 non-null float64
rater2_trait4     2292 non-null float64
rater2_trait5     723 non-null float64
rater2_trait6     723 non-null float64
rater3_trait1     128 non-null float64
rater3_trait2     128 non-null float64
rater3_trait3     128 non-null float64
rater3_trait4     128 non-null float64
rater3_trait5     128 non-null float64
rater3_trait6     128 non-null float64
dtypes: float64(22), int64(5), object(1)
memory usage: 2.8+ MB

In [8]:
train.describe()

,essay_id,essay_set,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,rater1_trait1,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
count,12976.000000,12976.000000,12976.000000,12976.000000,128.000000,12976.000000,1800.000000,1800.000000,1800.000000,2292.000000,...,2292.000000,2292.000000,723.000000,723.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000
mean,10295.395808,4.179485,4.127158,4.137408,37.828125,6.800247,3.333889,3.330556,3.333889,2.444154,...,2.635689,2.710297,3.777317,3.589212,3.945312,3.890625,4.078125,3.992188,3.843750,3.617188
std,6309.074105,2.136913,4.212544,4.264330,5.240829,8.970705,0.729103,0.726807,0.729103,1.211730,...,1.142566,1.045795,0.689401,0.693256,0.643668,0.630390,0.622535,0.509687,0.538845,0.603417
min,1.000000,1.000000,0.000000,0.000000,20.000000,0.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000
25%,4438.750000,2.000000,2.000000,2.000000,36.000000,2.000000,3.000000,3.000000,3.000000,2.000000,...,2.000000,2.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000
50%,10044.500000,4.000000,3.000000,3.000000,40.000000,3.000000,3.000000,3.000000,3.000000,2.000000,...,2.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
75%,15681.250000,6.000000,4.000000,4.000000,40.000000,8.000000,4.000000,4.000000,4.000000,3.000000,...,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,21633.000000,8.000000,30.000000,30.000000,50.000000,60.000000,4.000000,4.000000,4.000000,6.000000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,5.000000

# Validation

In [9]:
valid.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,1788,1,"Dear @ORGANIZATION1, @CAPS1 more and more peop...",1788,NaN
1,1789,1,Dear @LOCATION1 Time @CAPS1 me tell you what I...,1789,NaN
2,1790,1,"Dear Local newspaper, Have you been spending a...",1790,NaN
3,1791,1,"Dear Readers, @CAPS1 you imagine how life woul...",1791,NaN
4,1792,1,"Dear newspaper, I strongly believe that comput...",1792,NaN

In [10]:
valid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4218 entries, 0 to 4217
Data columns (total 5 columns):
essay_id                4218 non-null int64
essay_set               4218 non-null int64
essay                   4218 non-null object
domain1_predictionid    4218 non-null int64
domain2_predictionid    600 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 164.8+ KB

In [11]:
valid.describe()

           essay_id    essay_set  domain1_predictionid  domain2_predictionid
count   4218.000000  4218.000000           4218.000000            600.000000
mean   11282.446420     4.123518          13735.433618           7178.000000
std     6173.633131     2.117188           6964.020021            346.698716
min     1788.000000     1.000000           1788.000000           6579.000000
25%     5243.250000     2.000000           7508.500000           6878.500000
50%    10995.500000     4.000000          13995.500000           7178.000000
75%    16852.750000     6.000000          19852.750000           7477.500000
max    21938.000000     8.000000          24938.000000           7777.000000

# Test

In [12]:
test.head()

,essay_id,essay_set,essay,domain1_predictionid,domain2_predictionid
0,2383,1,I believe that computers have a positive effec...,2383,NaN
1,2384,1,"Dear @CAPS1, I know some problems have came up...",2384,NaN
2,2385,1,"Dear to whom it @MONTH1 concern, Computers are...",2385,NaN
3,2386,1,"Dear @CAPS1 @CAPS2, @CAPS3 has come to my atte...",2386,NaN
4,2387,1,"Dear Local newspaper, I think that people have...",2387,NaN

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4254 entries, 0 to 4253
Data columns (total 5 columns):
essay_id                4254 non-null int64
essay_set               4254 non-null int64
essay                   4254 non-null object
domain1_predictionid    4254 non-null int64
domain2_predictionid    600 non-null float64
dtypes: float64(1), int64(3), object(1)
memory usage: 166.2+ KB

In [14]:
test.describe()

           essay_id    essay_set  domain1_predictionid  domain2_predictionid
count   4254.000000  4254.000000           4254.000000            600.000000
mean   11922.108134     4.146685          14460.824636           8378.000000
std     6182.143429     2.132264           6896.586714            346.698716
min     2383.000000     1.000000           2383.000000           7779.000000
25%     5847.250000     2.000000           8716.500000           8078.500000
50%    11605.500000     4.000000          14605.500000           8378.000000
75%    17475.750000     6.000000          20475.750000           8677.500000
max    22242.000000     8.000000          25242.000000           8977.000000